# Virtualenvs
venv/
.venv/

# Electron build / node deps (se houver)
electron/
node_modules/

# Python caches & bytecode
__pycache__/
*.py[cod]
*.pyo

# Test / tooling
.pytest_cache/
coverage/
dist/
build/
*.egg-info/

# Editor / OS
.vscode/
.idea/
.DS_Store

# Env files
.env